<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        更新文章页面
        <form action="{{urlfor "ArticleUpdateController.Post"}}" method="POST">
            <input type="hidden" name="id" value="{{.art.Id}}">
            <input type="text" name="name" placeholder="文章标题" value="{{.art.Name}}"><br>
            <input type="text" name="content" placeholder="文章内存" value="{{.art.Content}}"><br>
            <input type="text" name="desc" placeholder="文章描述" value="{{.art.Desc}}"><br>
            <input type="submit" value="提交">
        </form>
    </body>
</html>