<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        多对多实战
        <a href="{{urlfor "PostAddController.Get"}}">添加帖子</a>
        <thread>
            <th>帖子标题</th>
            <th>帖子内容</th>
            <th>帖子创建是</th>
            <th>标签</th>
        </thread>

        {{range .posts}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Content}}</td>
                <td>{{date .CreateTIme "Y-m-d H:i:s"}}</td>
                <td>
                    {{range .Tags}}
                        <span>{{.Name}}</span>
                    {{end}}
                </td>
                <td><a href="{{urlfor "PostUpdateController.Get"}}?id={{.Id}}">更新</a></td>
                <td><a href="{{urlfor "PostDelController.Get"}}?id={{.Id}}">删除</a></td>
            </tr>
        {{end}}
    </body>
</html>