<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        一对多实战
        <a href="{{urlfor "ArticleAddController.Get"}}">添加文章</a>
        <table>
            <thread>
                <th>文章标题</th>
                <th>文章内容</th>
                <th>文章描述</th>
            </thread>
            {{range .arts}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.Content}}</td>
                    <td>{{.Desc}}</td>
                    <td><a href="{{urlfor "ArticleUpdateController.Get"}}?id={{.Id}}">更新</a></td>
                    <td><a href="">删除</a></td>
                </tr>
            {{end}}

        </table>
    </body>
</html>