<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Toggle Pricing Plans Responsive Widget Template : W3layouts</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="/lesson1/static1/static/css/style.css" type="text/css" media="all" />

</head>

<body>
    <!-- content -->
    <section class="pricing-columns pricing-section" id="pricing">
        <!-- logo -->
        <div class="logo">
            <a class="brand-logo" href="index.tmpl"> Toggle Pricing Plans</a>
        </div>
        <!-- //logo -->
        <div class="pricing-style-w3ls">
            <div class="pricing-content">
                <label class="toggler toggler--is-active" id="filt-monthly">Personal</label>
                <div class="toggle">
                    <input type="checkbox" id="switcher" class="check">
                    <b class="switch"></b>
                </div>
                <label class="toggler" id="filt-hourly">Enterprise</label>
                <div id="monthly">
                    <div class="row pricing-chart">
                        <div class="col-lg-4">
                            <div class="plan popular">
                                <h3 class="pop-plan">Basic Plan</h3>
                                <div class="price">
                                    <span class="dollar">$</span>
                                    <span class="amount" data-dollar-amount="19">19</span>
                                    <span class="month">/mo</span>
                                </div>
                                <ul>
                                    <li>Upto 50 keyphrases optimized</li>
                                    <li>Predictive keyword Analysis</li>
                                    <li>Information architecture</li>
                                    <li>Information architecture</li>
                                    <li>GoogleBot crawls</li>
                                </ul>
                                <a class="btn btn-outline-secondary btn-style mt-lg-5 mt-4" href="#url">Purchase Now</a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="plan popular active">
                                <!-- <label class="price-label">20% Off</label> -->
                                <h3 class="pop-plan">Popular Plan</h3>
                                <div class="price">
                                    <span class="dollar">$</span>
                                    <span class="amount" data-dollar-amount="29">29</span>
                                    <span class="month">/mo</span>
                                </div>
                                <ul>
                                    <li>Upto 50 keyphrases optimized</li>
                                    <li>Predictive keyword Analysis</li>
                                    <li>Information architecture</li>
                                    <li>Information architecture</li>
                                    <li>GoogleBot crawls</li>
                                </ul>
                                <a class="btn btn-secondary btn-style mt-lg-5 mt-4" href="#url">Purchase Now</a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="plan popular">
                                <h3 class="pop-plan">Premium Plan</h3>
                                <div class="price">
                                    <span class="dollar">$</span>
                                    <span class="amount" data-dollar-amount="49">49</span>
                                    <span class="month">/mo</span>
                                </div>
                                <ul>
                                    <li>Upto 50 keyphrases optimized</li>
                                    <li>Predictive keyword Analysis</li>
                                    <li>Information architecture</li>
                                    <li>Information architecture</li>
                                    <li>GoogleBot crawls</li>
                                </ul>
                                <a class="btn btn-outline-secondary btn-style mt-lg-5 mt-4" href="#url">Purchase Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="hourly" class="hide">
                    <div class="row pricing-chart">
                        <div class="col-lg-4">
                            <div class="plan popular">
                                <h3 class="pop-plan">Free Plan</h3>
                                <div class="price">
                                    <span class="dollar">$</span>
                                    <span class="amount" data-dollar-amount="0">0</span>
                                    <span class="month">/mo</span>
                                </div>
                                <ul>
                                    <li>Upto 50 keyphrases optimized</li>
                                    <li>Information architecture</li>
                                    <li>Predictive keyword Analysis</li>
                                    <li>Information architecture</li>
                                    <li>SEO optimization</li>
                                </ul>
                                <a class="btn btn-outline-secondary btn-style mt-lg-5 mt-4" href="#url">Purchase Now</a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="plan popular active">
                                <h3 class="pop-plan">Standard Plan</h3>
                                <div class="price">
                                    <span class="dollar">$</span>
                                    <span class="amount" data-dollar-amount="49">49</span>
                                    <span class="month">/mo</span>
                                </div>
                                <ul>
                                    <li>Upto 50 keyphrases optimized</li>
                                    <li>Information architecture</li>
                                    <li>Predictive keyword Analysis</li>
                                    <li>Information architecture</li>
                                    <li>SEO optimization</li>
                                </ul>
                                <a class="btn btn-secondary btn-style mt-lg-5 mt-4" href="#url">Purchase Now</a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="plan popular">
                                <h3 class="pop-plan">Professional Plan</h3>
                                <div class="price">
                                    <span class="dollar">$</span>
                                    <span class="amount" data-dollar-amount="69">69</span>
                                    <span class="month">/mo</span>
                                </div>
                                <ul>
                                    <li>Upto 50 keyphrases optimized</li>
                                    <li>Information architecture</li>
                                    <li>Predictive keyword Analysis</li>
                                    <li>Information architecture</li>
                                    <li>SEO optimization</li>
                                </ul>
                                <a class="btn btn-outline-secondary btn-style mt-lg-5 mt-4" href="#url">Purchase Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer">
            <p>&copy; 2020 Toggle Pricing Plans. All Rights Reserved | Design by <a href="https://w3layouts.com/"
                    target="blank">W3layouts</a></p>
        </div>
        <!-- footer -->
    </section>

    <!-- pricing tabs js -->
    <script src="/lesson1/static1/static/js/tabs.js"></script>

    <!-- JavaScript -->
    <script src="/lesson1/static1/static/js/jquery-2.2.3.min.js"></script>


</body>

</html>