<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">权限管理</a>
        <a>
          <cite>权限列表</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
<!--          <input class="layui-input" placeholder="开始日" name="start" id="start">-->
<!--          <input class="layui-input" placeholder="截止日" name="end" id="end">-->
<!--          <div class="layui-input-inline">-->
<!--            <select name="contrller">-->
<!--              <option>状态</option>-->
<!--              <option>已启用</option>-->
<!--              <option>已停用</option>-->
<!--            </select>-->
<!--          </div>-->

          <input type="text" id="username" name="username"  placeholder="请输入权限名称" autocomplete="off" class="layui-input" value="{{.kw}}">
          <button id="search_btn" class="layui-btn"><i class="layui-icon">&#xe615;</i></button>
          <button id="clear_btn" class="layui-btn"><i class="layui-icon" style="line-height: 30px">ဂ</i></button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加菜单','{{urlfor "AuthController.ToAdd"}}',600,400)"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：{{.all}} 条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th width="6%"> <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
<!--            <th >ID</th>-->
            <th >权限名称</th>
            <th >URL地址</th>
            <th >父节点Id</th>
            <th >描述</th>
            <th >创建时间</th>
            <th >状态</th>
            <th >操作</th>
          </tr>
        </thead>
        <tbody>
          {{range .au}}
          <tr>
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
            </td>
<!--            <td>11</td>-->
            <td>{{.AuthName}}</td>
            <td>{{urlfor .UrlFor}}</td>
            <td>{{.ParentId}}</td>
            <td>{{.Desc}}</td>
            <td>{{date .CreateTime "Y-m-d H:i:s"}}</td>
            <td>
              {{if eq .IsActive 1}}
              <span class="layui-btn layui-btn-mini layui-btn-radius layui-btn-normal">已启用</span>
              {{else if eq .IsActive 0}}
              <span class="layui-btn layui-btn-mini layui-btn-radius layui-btn-danger">已停用</span>
              {{end}}
            </td>

            <td class="td-manage">
              {{if eq .IsActive 1}}
              <a class="layui-btn layui-btn-mini layui-btn-danger is_active_btn">
                <i class="layui-icon">&#xe601;</i>停用
              </a>
              {{else if eq .IsActive 0}}
              <a class="layui-btn layui-btn-mini layui-btn-normal is_active_btn">
              <i class="layui-icon">&#xe62f;</i>启用
              </a>
              {{end}}
              <a href="" class="layui-btn layui-btn-mini layui-btn-normal">
                <i class="layui-icon">&#xe642;</i>编辑
              </a>
              <input type="hidden" value="">
              <a onclick="member_del(this,'{{.Id}}')" href="javascript:;" title="删除">
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
      <div class="page">
        <div>
          <span>总页数:{{.allPage}}</span>
          <a class="prev" href="{{urlfor "AuthController.List"}}?page={{.pageMap.firstpage}}&kw={{.kw}}">首页</a>
          <a class="prev" href="{{urlfor "AuthController.List"}}?page={{.prevPage}}&kw={{.kw}}">上一页</a>
          {{range .pageMap.num_pages}}
            {{if eq $.pageMap.currpage .}}
              <a style="border: 0px #e2e2e2;padding: 0" href="{{urlfor "AuthController.List"}}?page={{.}}&kw={{$.kw}}">
                <span class="current">{{.}}</span>
              </a>
            {{else}}
              <a style="border: 0px #e2e2e2;padding: 0" href="{{urlfor "AuthController.List"}}?page={{.}}&kw={{$.kw}}">
                <span>{{.}}</span>
              </a>
            {{end}}
          {{end}}
          <a class="next" href="{{urlfor "AuthController.List"}}?page={{.nextPage}}&kw={{.kw}}">下一页</a>
          <a class="next" href="{{urlfor "AuthController.List"}}?page={{.pageMap.lastpage}}&kw={{.kw}}">尾页</a>
        </div>
      </div>

    </div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要停用吗？',function(index){

              if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
              }
              
          });
      }
      function reloadList() {
        window.location.href = "{{urlfor "AuthController.List"}}"
      }
      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
            layer.close(index);
            $.ajax({
              url: "{{urlfor "AuthController.Delete"}}",
              type: "post",
              data: {
                "id": id,
              },
              success: function (data) {
                ions_alert.alertSuccessToast(data["msg"])
                setTimeout(reloadList, 1000)
              },
              fail: function (data) {
                ions_alert.alertErrorToast("删除失败！")
                setTimeout(reloadList, 1000)
              }
            });
          });
      }



      function delAll (argument) {

        var data = tableCheck.getData();
  
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }

      var searchBtn = document.getElementById("search_btn")
      searchBtn.onclick = function (ev) {
        ev.preventDefault()
        var kw = document.getElementById("username").value
        window.location.href = "{{urlfor "AuthController.List"}}?kw=" + kw
      }

      var clearBtn = document.getElementById("clear_btn")
      clearBtn.onclick = function (ev) {
        ev.preventDefault()
        window.location.href = "{{urlfor "AuthController.List"}}"
      }

    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>