<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="/static/js/jquery.min.js"></script>
    </head>
    <body>
        <!-- <form action="/flash" method="POST"> -->
        <form>
            <input type="text" name="username" id="username"><br>
            <input type="text" name="pwd" id="pwd"><br>
            <input type="submit" value="提交" id="btn">
        </form>
        <script>
            var btn=document.getElementById("btn")
            btn.onclick=function(ev){
                var username = document.getElementById("username").value;
                var pwd = document.getElementById("pwd").value;
                $.ajax({
                    url:"/flash",
                    type:"POST",
                    data:JSON.stringify({
                        "username":username,
                        "pwd":pwd,
                    }),
                    dataType:"JSON",
                    success:function(data){
                        var code = data["code"]
                        var msg = data["message"]
                        if(code=="200") {
                            alert(msg)
                        }
                    },
                    error:function(data){
                        alert(data["message"])
                    }
                })
            }
        </script>
    </body>
</html>