<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        template2
        {{printf "%d-%d" 1 2}}<br>
        {{print .name}}<br>
        {{printf "%s" .name}}<br>
        {{.name | printf "%s"}}<br>

        <!-- 返回两个值时，第二个值用于返回error -->
        {{call .f 10}}

        {{index .mapp "name"}}<br>
        {{map_get .mapp "name"}}<br>
        {{index .slicee 1}}<br>
        {{index .stringg 3}}<br>

        {{len .stringg}}

        第一个bool：{{not .is_bool}}<br>
        第二个bool：{{.is_bool | not | not}}<br>
        {{.name |len | print}}<br>
        <!-- and是返回第一个空，如果找不到，返回最后一个；or是返回第一个非空，如果找不到，返回最后一个 -->
        <!-- {{and .A .B .C}} {{or .A .B .C}} -->

        <!-- 编码URL，然后才能传递URL -->
        {{urlquery "http://www.baidu.com"}}

        <!-- 必须先是比较运算符，再是参与比较的数字，eq可以传多个参数 -->
        {{if lt 100 200}}{{end}}
        {{if eq 100 100 100}}{{end}}

    </body>
</html>