<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        {{.name}}
        字符串1
        {{"字符串2"}}<br>
        {{`不会被转义的原生字符串`}}<br>

        <!-- 获取结构体字段值的两种方式，with也可加else -->
        {{.testusr.Name}}
        {{.testusr.Age}}
        {{with .testusr}}
            {{.Phone}}
            {{.Price}}
            {{.Married}}
        {{end}}

        <!-- 遍历数组，数组为空或长度为0时走到else -->
        {{range .arr}}
            值：{{"是："}}{{.}}<br>
        {{else}}
            没值了
        {{end}}

        <!-- 引入其他hmtl，第三个参数.表示引入其中的动态资源 -->
        {{template "t4.html" .}}

        <!-- 自定义模板并引入 -->
        {{define "myt"}}
            <ul>
                <li>一</li>
                <li>二</li>
                <li>{{.name}}</li>
            </ul>
        {{end}}
        {{template "myt" .}}
    </body>
</html>