<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        用户页面:<br>
        <!-- 固定格式，.后面跟对象，才能获取到具体的对象 -->
        用户名：{{.user.UserName}}
        年龄：{{.user.Age}}
        <br>
        =======================<br>
        数组：
        <!-- 固定格式，range.对象，就能直接获取到值 -->
        {{range.arr}}
        {{.}}
        {{end}}
        <br>
        =================<br>
        <!-- 固定格式，kv或index value来range对象，就能获取到值 -->
        {{range $i,$v:=.arr}}
        {{$i}}
        {{$v}}<br>
        {{end}}
        <br>
        map:
        {{.tmap.age}}
        {{.tmap.name}}
        <br>
        {{range.tmap}}
        {{.}}
        {{end}}
    </body>
</html>